<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
	<bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor" />
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="codesMessagesErrors" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:org/insurance/codes-messages.properties</value>
				<value>classpath:org/insurance/codes-messages-validation.properties</value>
			</list>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>org.insurance.conf.Cod_version</value>
				<value>org.insurance.conf.Cod_civility</value>
				<value>org.insurance.conf.Cod_country</value>
				<value>org.insurance.conf.Cod_postal</value>
				<value>org.insurance.conf.Cod_cancel</value>
				<value>org.insurance.conf.Cod_catcli</value>
				
				<value>org.insurance.conf.Cod_branch</value>
				<value>org.insurance.conf.Cod_category</value>
				<value>org.insurance.conf.Cod_section</value>
				<value>org.insurance.conf.Cod_guarantee</value>
				<value>org.insurance.conf.Cod_premium</value>
				<value>org.insurance.conf.Cod_tax</value>
				<value>org.insurance.conf.Cod_premiumconfig</value>
				
				<value>org.insurance.conf.Usr_user</value>
				<value>org.insurance.conf.Usr_role</value>

				<value>org.insurance.data.Cli_client</value> 
				<value>org.insurance.data.Cli_address</value> 
				<value>org.insurance.data.Cli_contract</value> 
				<value>org.insurance.data.Cli_guarantee</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
				hibernate.c3p0.min_size=5
				hibernate.c3p0.max_size=20
				hibernate.c3p0.timeout=300
				hibernate.c3p0.max_statements=50
				hibernate.c3p0.idle_test_period=3000
				hibernate.show_sql=true
			</value>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<util:properties id="codeTables" location="classpath:org/insurance/codeTables.properties" />
	<context:property-placeholder location="classpath:org/insurance/database.properties" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<aop:aspectj-autoproxy />
	<context:annotation-config />
	<context:component-scan base-package="org.insurance,
										org.insurance.dao,
										org.insurance.dao.impl,
										org.insurance.common,
										org.insurance.common.impl,
										org.insurance.webservices,
										org.insurance.exception,
										org.insurance.utils">
		<context:include-filter type="regex" expression="org.insurance.service.*.impl.*Info" />
		<context:include-filter type="regex" expression="org.insurance.service.*.impl.*Check" />
		<context:include-filter type="regex" expression="org.insurance.service.*.impl.*Manager" />
		<context:include-filter type="regex" expression="org.insurance.service.*.impl.*Operation" />
	</context:component-scan>
</beans>

